<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>LOGIN PAGE</title>
</head>
<body>
<h1>- LOGIN -</h1>
<hr>

<form action="/user/login" method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <!-- spring security에서는 post 방식으로 보내는 모든 데이터의 csrf 토큰 값이 필요
       토큰 값이 없는 상태에서 form 전송시 error : HttpRequestMethodNotSupportedException: Request method 'POST' 발생 -->

  <input type="text" name="username" placeholder="이메일을 입력하세요">
                <!-- email = id = username -->
  <input type="password" name="password" placeholder="비밀번호를 입력하세요">
  <button type="submit">LOGIN</button>
</form>

</body>
</html>